:root {
  --font-title-text: "Nunito", sans-serif;
  --font-italic: "Courgette", cursive;
  --background-primary: #3f415a;
  --background-body: #282a36;
  --background-btn: #6a6577;
  --color-primary-font: #e767b0;
  --color-secondary-font: rgb(247, 247, 247);
}

.About .btn-branding {
  font-family: var(--font-italic);
  margin-top: 50px;
  padding: 20px 25px;
  background-color: var(--background-btn);
  color: var(--color-secondary-font);
  border-radius: 4px;
  font-size: 20px;
  line-height: 30px;
}

.About .btn:hover {
  color: var(--color-secondary-font);
}

.About .profile {
  border-radius: 20px;
}

.About .content {
  margin: 50px;
}

.About .content-container {
  padding: 160px 70px;
  background-color: var(--background-body);
}

.About .content-container h1 {
  font-size: 64px;
  line-height: 80px;
}
.About .content-container h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-secondary-font);
}

.About .content-container p {
  font-size: 20px;
  color: var(--color-secondary-font);
}

@media (max-width: 900px) {
  .About .btn-branding {
    margin-top: 25px;
    padding: 10px 15px;
  }
  .About .container-fluid .row {
    margin: 5px 2px !important;
  }

  .About .content-container {
    padding: 100px 20px 60px 20px;
  }
  .About .content-container,
  .About .content {
    text-align: center;
    padding: 20px 5px 0px 0px;
  }
  /* .About .content-container {
    margin: 0px !important;
    padding: 50px 0px 20px 0px !important;
  } */
}
