.About .btn-branding {
  font-family: var(--font-italic);
  margin-top: 50px;
  padding: 15px 30px;
  background-color: var(--background-btn);
  color: var(--color-secondary-font);
  border-radius: 4px;
  font-size: 20px;
  line-height: 30px;
}

.button {
  text-align: center;
}

.About .btn:hover {
  color: var(--color-secondary-font);
}

.About {
  background-color: #cacbd0bd;
  padding: 60px 40px 0px 40px;
  max-width: 100%;
  margin: 0px 0px;
}

.About .about-me h1 {
  text-align: center;
  font-size: 50px;
  line-height: 1.5;
  text-decoration: underline;
  letter-spacing: 7px;
}

.About .about-me h4 {
  font-size: 26px;
  color: var(--background-body);
  text-align: center;
  margin-top: 25px;
}

.About h3 {
  margin-top: 30px;
  font-weight: 700;
  font-size: 24px;
  color: var(--background-body);
  text-align: left;
  padding-left: 0;
}

.container-fluid {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
}

.container-fluid p {
  text-align: justify;
  text-justify: inter-word;
  margin: 0;
}
.container-fluid ul {
  padding-left: 0px;
}

.container-fluid a {
  text-decoration: none;
  color: var(--color-primary-font);
}

li {
  text-align: justify;
  text-justify: inter-word;
  list-style-type: none;
  display: inline-block;
  padding-right: 7px;
}

@media screen and (max-width: 960px) {
  .About .btn-branding {
    margin-top: 25px;
    padding: 10px 15px;
  }
  .About .container-fluid .row {
    margin: 5px 2px !important;
  }

  .About .content-container {
    padding: 100px 20px 60px 20px;
  }
  .About .content-container,
  .About .content {
    text-align: center;
    padding: 20px 5px 0px 0px;
  }
  .About .content-container h1 {
    font-size: 48px;
    line-height: 55px;
  }
  .About .content-container h2 {
    font-size: 28px;
    margin-bottom: 1px;
  }
  /* .About .content-container {
    margin: 0px !important;
    padding: 50px 0px 20px 0px !important;
  } */
}
