:root {
  --font-title-text: "Nunito", sans-serif;
  --font-italic: "Courgette", cursive;
  --background-primary: #3f415a;
  --background-body: #282a36;
  --background-btn: #6a6577;
  --color-primary-font: #e767b0;
  --color-secondary-font: rgb(247, 247, 247);
}

.Contact .content-container {
  padding: 80px 70px;
  background-color: var(--background-body);
}
.Contact .content-container h1 {
  font-size: 64px;
  line-height: 80px;
  text-align: center;
  margin-bottom: 60px;
}

.Contact .contact-link {
  border-radius: 20px;
  background-color: var(--background-primary);
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 25px 20px;
  width: 300px;
  height: 150px;
  align-items: center;
}

.Contact a {
  text-align: center;
  color: var(--color-primary-font) !important;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

.Contact a:hover {
  opacity: 70%;
  cursor: pointer;
}
@media (max-width: 900px) {
  .Contact .content-container {
    padding-top: 40px !important;
  }

  .Contact .content-container h1 {
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 10px;
  }
  .Contact .contact-link {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 17px 5px 5px 5px;
    width: 220px;
    height: 110px;
  }
}
