.Contact {
  background-color: var(--background-body);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
}

form h1 {
  text-align: center;
  font-size: 50px;
  line-height: 1.5;
  text-decoration: underline;
  letter-spacing: 7px;
}

form h4 {
  font-size: 26px;
  color: var(--color-secondary-font);
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
}

.ContactForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

form {
  color: var(--color-secondary-font);
  font-family: var(--font-title-text);
  display: flex;
  flex-direction: column;
  margin: 0px 0px;
  padding: 0px 0px;
  width: 100%;
  max-width: 700px;
}

form input,
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 10px;
  outline: none;
  font-size: 18px;
  width: 100%;
}

.btn-branding {
  font-family: var(--font-italic);
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  display: inline-block;
  border: none;
  font-size: 20px;
  padding: 15px 30px;
  background-color: var(--background-btn);
  color: var(--color-secondary-font);
  border-radius: 4px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.btn-branding:hover {
  color: var(--color-primary-font);
}

@media screen and (max-width: 960px) {
  .Contact {
    padding: 0px 0px;
    margin: 0px 0px;
    padding-top: 40px;
  }

  form h1 {
    line-height: 1;
    font-size: 40px;
  }

  form h4 {
    font-size: 20px;
    line-height: 1.5;
    padding: 10px 5px;
  }

  form input,
  form textarea {
    font-size: 16px;
  }

  .btn-branding {
    margin: 20px 5px 5px 5px;
    font-size: 16px;
  }

  .recaptcha {
    margin: 0px 0px;
    width: 150px !important;
  }
}
