:root {
  --font-title-text: "Nunito", sans-serif;
  --font-italic: "Courgette", cursive;
  --background-primary: #3f415a;
  --background-body: #282a36;
  --background-btn: #6a6577;
  --color-primary-font: #e767b0;
  --color-secondary-font: rgb(247, 247, 247);
}

.FooterContact .section-footer {
  background-color: var(--background-primary);
  color: var(--color-secondary-font);
  margin-top: 100px;
  padding: 90px 300px 50px 300px;
}

.FooterContact .section-footer h2 {
  font-weight: 800;
  font-size: 50px;
}

.FooterContact .section-footer .btn-branding-outline {
  font-family: var(--font-italic);
  margin-top: 20px;
  padding: 30px 35px;
  color: var(--color-primary-font);
  border: 1px solid var(--color-primary-font);
  border-radius: 4px;
  font-size: 22px;
}
.btn:hover {
  color: var(--color-secondary-font);
}

@media (max-width: 900px) {
  .FooterContact .section-footer .container-fluid .row {
    margin: 15px 20px !important;
    text-align: center !important;
    padding: 0px 50px;
  }
  .FooterContact .section-footer {
    padding: 10px 0px 0px 0px;
  }
  .FooterContact .btn-branding-outline {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 5px 10px;
  }
  .FooterContact .section-footer .btn-branding-outline {
    margin-top: -15px;
    margin-bottom: 30px;
  }
}
