.Footer {
  text-align: center;
  padding: 30px 0px 10px 0px;
  font-size: 14px;
  background-color: #f7f7f7;
}

.copyright-year {
  font-size: 12px;
}

.Footer a {
  color: var(--color-primary-font);
  text-decoration: none;
}

.Footer .social-link {
  text-align: center;
  font-size: 25px;
  letter-spacing: 5px;
}

@media (max-width: 900px) {
  .Footer {
    text-align: center !important;
    font-size: 10px !important;
    margin: 0px !important;
  }
}
