:root {
  --font-title-text: "Nunito", sans-serif;
  --font-italic: "Courgette", cursive;
  --background-primary: #3f415a;
  --background-body: #282a36;
  --background-btn: #6a6577;
  --color-primary-font: #e767b0;
  --color-secondary-font: rgb(247, 247, 247);
}

body {
  font-family: var(--font-title-text);
}

h1 {
  font-family: var(--font-title-text);
  font-weight: 800;
  line-height: 1.5;
  font-size: 90px;
  color: var(--color-primary-font);
}

h2,
h3 {
  font-size: 36px;
  color: var(--color-secondary-font);
}

p {
  padding: 30px 0px;
  font-size: 18px;
  line-height: 1.8;
  text-align: justify;
}

.Homepage .heading {
  background-color: var(--background-primary);
  padding: 80px 60px;
  text-align: center;
}

.Homepage .heading .container-fluid .row {
  background-color: var(--background-primary);
}

.Homepage .heading .introdution {
  margin-top: 220px;
}
.Homepage .heading .img-fluid {
  border-radius: 20px;
  padding: 12px auto;
  margin-top: 60px;
  width: fit-content;
  height: 800px;
}
.Homepage .headline {
  font-weight: 700;
  font-size: 23px;
}

.Homepage .btn-branding {
  font-family: var(--font-italic);
  margin-top: 50px;
  padding: 20px 25px;
  background-color: var(--background-btn);
  color: var(--color-secondary-font);
  border-radius: 4px;
  font-size: 20px;
  line-height: 30px;
}

.Homepage .btn:hover {
  color: var(--color-secondary-font);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2,
  h3 {
    font-size: 24px;
    line-height: 1.2;
  }
  .Homepage .heading {
    margin-top: -60px;
    padding: 0px 15px 100px 15px;
  }

  .Homepage .heading .container-fluid {
    border-radius: 10px;
    width: fit-content !important;
    height: fit-content !important;
  }
  .Homepage .heading .container-fluid .row {
    background-color: var(--background-primary);
  }
  .btn-branding {
    margin-top: 10px !important;
    padding: 0px 10px;
  }
  .headline {
    font-size: 12px !important;
    margin: 2px;
    padding: 5px 3px;
  }
}
