:root {
  --font-title-text: "Nunito", sans-serif;
  --font-italic: "Courgette", cursive;
  --background-primary: #3f415a;
  --background-body: #282a36;
  --background-btn: #6a6577;
  --color-primary-font: #e767b0;
  --color-secondary-font: rgb(247, 247, 247);
}

.navbar {
  font-size: 20px;
  background-color: var(--color-secondary-font) !important;
  height: 60px;
  display: flex;
  width: 100%;

  align-items: center;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  /* max-width: 1500px; */
}
.nav-logo {
  font-size: 24px;
  align-items: center;
  margin-left: 40px;
  margin-bottom: 15px;
  font-weight: 800;
  justify-content: flex-start !important;
}

.nav-menu {
  display: flex;
  list-style: none;
  font-weight: 600;
  text-align: center;
  margin-right: 2rem;
  justify-content: flex-end !important;
}
.nav-item {
  justify-content: flex-end !important;
}

.nav-link {
  color: var(--background-body) !important;
  padding: 0.5rem 1rem;
  height: 100%;
  border: 3px solid transparent;
}

.nav-link:hover {
  color: var(--color-primary-font) !important;
  transition: all 100ms ease-in-out;
}

.nav-link.active {
  color: var(--color-primary-font) !important;
  font-weight: 800 !important;
}

@media (max-width: 900px) {
  .navbar {
    margin: 2px 2px !important;
  }

  /* .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  } */

  .navbar .custom-toggler .navbar-toggler-icon {
    border-color: var(--color-primary-font) !important;
  }

  .navbar .navbar-brand {
    font-size: 18px;
  }
  .navbar {
    font-size: 16px;
  }
}
