:root {
  --font-title-text: "Nunito", sans-serif;
  --font-italic: "Courgette", cursive;
  --background-primary: #3f415a;
  --background-body: #282a36;
  --background-btn: #6a6577;
  --color-primary-font: #e767b0;
  --color-secondary-font: rgb(247, 247, 247);
}

.Navbar .navbar-brand {
  font-size: 24px;
}

.Navbar .navbar {
  background-color: var(--color-secondary-font);
  font-size: 20px;
}

.Navbar .navbar a {
  color: var(--background-body);
  transition: all 100ms ease-in-out;
}
.Navbar .navbar-toggler,
.navbar a:hover {
  color: var(--color-primary-font);
}
.Navbar nav a.active {
  font-weight: 800;
  color: var(--color-primary-font);
}

.Navbar .container-fluid {
  border-radius: 20px;
}

@media (max-width: 900px) {
  .Navbar .navbar .container-fluid {
    margin: 2px 2px !important;
    border-radius: 10px;
  }

  .Navbar .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .Navbar .custom-toggler.navbar-toggler {
    border-color: var(--color-primary-font);
  }

  .Navbar .navbar-brand .navbar {
    font-size: 14px;
  }

  .Navbar .navbar a {
    color: var(--background-body);
    transition: all 100ms ease-in-out;
  }

  .Navbar .navbar-toggler,
  .Navbar .navbar .navbar-nav a:hover {
    color: var(--color-primary-font);
  }
}
