:root {
  --font-title-text: "Nunito", sans-serif;
  --font-italic: "Courgette", cursive;
  --background-primary: #3f415a;
  --background-body: #282a36;
  --background-btn: #6a6577;
  --color-primary-font: #e767b0;
  --color-secondary-font: rgb(247, 247, 247);
}

.navbar {
  font-size: 20px;
  background-color: var(--color-secondary-font) !important;
}
.navbar .navbar-brand {
  font-size: 24px;
}
.navbar .navbar-nav {
  font-weight: 600;
  color: var(--background-body) !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--color-primary-font);
  transition: all 100ms ease-in-out;
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--color-primary-font);
  font-weight: 800;
}

@media (max-width: 900px) {
  .navbar {
    margin: 2px 2px !important;
  }

  /* .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  } */

  .navbar .custom-toggler .navbar-toggler-icon {
    border-color: var(--color-primary-font) !important;
  }

  .navbar .navbar-brand {
    font-size: 18px;
  }
  .navbar {
    font-size: 16px;
  }
}
