.Projects {
  background-color: var(--background-primary);
  padding: 60px 40px 0px 40px;
  max-width: 100%;
  margin: 0px 0px;
}

.Projects h1 {
  text-align: center;
  font-size: 50px;
  line-height: 1.5;
  text-decoration: underline;
  letter-spacing: 7px;
}

.Projects h4 {
  font-size: 26px;
  color: var(--color-secondary-font);
  text-align: center;
  margin-top: 25px;
}

.Projects h2 {
  margin-top: 30px;
  font-size: 24px;
  color: var(--color-secondary-font);
  text-align: left;
  padding-left: 0;
}

.Projects .container-fluid {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
}

.container-fluid .img-fluid {
  border-radius: 10px;
  margin-top: 10px;
  width: 400px;
  height: 300px;
}

.Projects .btn-branding {
  font-family: var(--font-italic);
  /* margin-top: 30px; */
  padding: 15px 30px;
  background-color: var(--background-btn);
  color: var(--color-secondary-font);
  border-radius: 5px;
  font-size: 20px;
  /* line-height: 30px; */
}

.Projects .btn-branding a {
  color: var(--color-secondary-font);
}

/* .Projects .btn:hover {
  color: var(--color-secondary-font);
} */

@media (max-width: 900px) {
  .Projects .btn-branding {
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 10px 15px;
  }
}
