.Projects {
  background-color: var(--background-primary);
  padding: 60px 40px 0px 40px;
  max-width: 100%;
  margin: 0px 0px;
}

.Projects h1 {
  text-align: center;
  font-size: 50px;
  line-height: 1.5;
  text-decoration: underline;
  letter-spacing: 7px;
}

.Projects h4 {
  font-size: 26px;
  color: var(--color-secondary-font);
  text-align: center;
  margin-top: 25px;
}

.Projects h2 {
  margin-top: 40px;
  font-size: 26px;
  color: var(--color-secondary-font);
  text-align: center;
  padding-left: 0;
}

.grid-project {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 0px;
}

.grid-project .grid-item {
  position: relative;
  display: block;
  padding: 20px;
  background-color: var(--background-primary);
  border: none;
  text-align: center;
}

.grid-project .item-pic {
  padding-top: 20px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  max-width: 400px;
  max-height: 300px;
}

.grid-project img {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  margin-top: 10px;
}

.grid-project .tags {
  text-align: center;
  align-items: center;
  display: inline-block;
  margin-top: 30px;
}

.grid-project .tags a {
  font-family: var(--font-italic);
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  display: inline-block;
  background-color: var(--background-primary);
  color: var(--background-body);
  /* border: none; */
  margin: 30px 5px 5px 5px;
  font-size: 20px;
}

.grid-project .tags a:hover {
  /* color: var(--color-primary-font); */
  font-weight: 800;
  text-decoration: underline;
  transition: all 150ms ease-in-out;
}

.Projects .container-fluid {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 40px;
}

@media screen and (max-width: 960px) {
  .Projects {
    padding: 0px 0px;
    margin: 0px 0px;
  }

  .Projects h1 {
    line-height: 1;
    font-size: 40px;
  }

  .Projects h4 {
    font-size: 20px;
    line-height: 1.5;
    padding: 10px 5px;
  }

  .Projects h2 {
    line-height: 1;
    font-size: 40px;
  }

  .grid-project {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    align-items: center;
    text-align: center;
  }

  .grid-project .grid-item {
    padding: 10px;
  }

  .grid-project .item-pic {
    padding-top: 10px;
    max-width: 400px;
    max-height: 300px;
  }

  .grid-project img {
    width: 300px;
    height: 200px;
  }

  .grid-project .tags {
    margin-top: 20px;
  }

  .grid-project .tags button {
    margin: 20px 5px 5px 5px;
    font-size: 16px;
  }

  .Projects .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
  }
}
