:root {
  --font-title-text: "Nunito", sans-serif;
  --font-italic: "Courgette", cursive;
  --background-primary: #4e4f64;
  --background-body: #282a36;
  --background-btn: #6a6577;
  --color-primary-font: #e767b0;
  --color-secondary-font: rgb(247, 247, 247);
}
